!!! 5
%head
  %title Design Miami Challenge April 2011
  %link(rel='stylesheet' type='text/css' media='screen' href='stylesheets/screen.css')
  %link(rel='stylesheet' type='text/css' media='print' href='stylesheets/print.css')
%body
  .gutter
    .welcome
      :markdown
        # Design Miami Challenge

        The Design Miami Challenge for April 2011 is to design and build a
        website for a fictional Canadian-cuisine restaurant here in Coconut
        Grove. We will provide you with the menu, hours, and address, and you
        get to design and build the site. At the May meetup, you'll present
        your idea, we'll all vote on a winner, and they'll win a prize of my
        choosing.

        For mid-competition updates, follow
        [FUN DMC on Twitter](https://twitter.com/fun_dmc).

        This site is [bit.ly/fun_dmc](http://bit.ly/fun_dmc). Tell your
        friends!
        
        ## Some Facts, Tips, and Guidelines
        
        * People look at restuarant websites on both computers and phones.
        * Splitting pages up makes them smaller, but can affect navigation.
        * Links to mapping and navigation services are nice to have.
        * Aren't restaurant sites that use Flash, have music, and have menus
          only as PDF awful?
        * This would be a good project to have in your portfolio.
        * Maybe you'll learn something too!

    .restaurant-info
      :markdown
        # Restaurant Information

        "The Grand Canadian Cafe" is a new bistro in Coconut Grove featuring
        a selection of Canadian/American fusion cuisine celebrating the
        culture, heritage, and spirit of America's neighbor to the North.

        The restaurant is located at 2975 Oak Ave, Miami Florida, 33133
        (this is actually Fire Station #8), is open for breakfast, lunch, and
        dinner; and has a bar open until midnight.

        While many people think of
        the big eastern metropolis of Toronto when they think "Canada,"
        also think of Calgary, home of the largest rodeo in the world;
        Banff, a resort town in the Rocky Mountains; and Vancouver, Canada's
        gateway to Asia.  You might also think about Saskatchewan, which grows
        much of Canada's food; and the Northwest Territories, home of the
        TV series "Ice Road Truckers."

        # Menu

        Have menu questions? Tweet them to
        [FUN DMC on Twitter](https://twitter.com/fun_dmc) so I can make
        decisions and update everyone on them.

        ## Breakfast

        * The Vancouver: a whole-Saskatchwean-wheat bagel with Canadian cream
          cheese, fresh chives, and smoked Salmon from British Columbia.
        * The Calgary: a whole-Saskatchewan-wheat bagel with beef sausage,
          bacon, and eggs.
        * The Saskatoon: Belgian waffles with Saskatoon berry syrup.
        * Montreal Eggs Benedict: the classic, with Manitoban ham and
          garden-fresh chives.
        * The Lumberjack: Two pancakes with hearty Canadian maple syrup.
        * Paul Bunyan: Five pancakes with hearty Canadian maple syrup.

        ## Sandwiches
        All sandwiches are available on white, whole-wheat, or rye bread from
        Saskatchewan wheat. Sandwiches come with French fries, mashed potatoes, 
        fresh vegetables, or steamed vegetables; this can be upgraded to a
        poutine for $1.00.

        * Quebecois Grilled Cheese: with optional horseradish.
        * Albertan Beef Burger: a quarter-pound all-beef patty with our special
          seasoning grilled just the way you like it.
        * Albertan Cheeseburger: featuring aged Canadian cheddar cheese.
        * Wanuskewin Buffalo Burger: a delicious and meaningful burger with
          Alberta-farmed buffalo.
        * Wanuskewin Buffalo Bacon Cheeseburger: with Canadian cheddar cheese and
          Manitoban bacon.
        * The Gimli Sliders: four miniature cheeseburgers that won't leave you
          hungry.
        * Red Deer BLT: made with Saskatchewan lettuce, greenhouse tomatoes, and
          Manitoba bacon.
        * Torontonian Club: sliced hard-boiled egg, Manitoba ham and bacon,
          lettuce, and brown mustard.

        ## Entrees
        * Stampeder Steak: a 16 ounce top sirloin grilled over our very own
        "Calgary Flames," with an Alberta bean salad and bleu cheese mashed
        potatoes.
        * Hockey League Filet: an 8 ounce filet mignon wrapped with bacon,
        grilled to your standard, with potato wedges and asparagus.
        * Cookwagon Chicken: a grilled quarter chicken with steam-kissed green
        beans, carrots, and cauliflower.
        * Grandpa's Dry Ribs: made with a secret family recipe, these ribs are
        perfectly smoked and come with a green salad and potato wedges.
        * Salmon Victoria: oven-cooked salmon with a hint of maple and cinnamon,
        garnished with lemon zest, and served with bleu cheese mashed potatoes and
        asparagus.
        * The Ambassador of Poutines: a large poutine of French fries heaped with
        ham, cottage cheese, and gravy; with a green salad on the side.

        ## Dessert
        * Nanaimo bars
        * Chocolate-oatmeal bake
        * Cherry pie

        # Photos

        Pick some Creative Commons licensed photos from [flickr](http://flickr.com),
        since that's just what I was going to do.

    .closing
      %h1 Good Luck!
      :markdown
        We hope to see you presenting at the May meetup!
        
        This site &copy; Copyright 2011 by Bryce Kerley, and licensed under
        the Creative Commons Zero license; that means you can do whatever
        you want with it.