!!! 5
%html
  %head
    %title Design Miami Challenge April 2011
    %link(rel='stylesheet' type='text/css' media='screen' href='stylesheets/screen.css')
    %link(rel='stylesheet' type='text/css' media='print' href='stylesheets/print.css')
    %meta(name='viewport' content='width=860px,user-scalable=no')
  %body
    .gutter
      .welcome
        :markdown
          # Design Miami Challenge April 2011

          The Design Miami Challenge for April 2011 is to design and build a
          website for a fictional Canadian-cuisine restaurant here in Coconut
          Grove. We will provide you with the menu, hours, and address, and you
          get to design and build the site. **At the May meetup,** you'll present
          your idea, we'll all vote on a winner, and they'll win a cool
          certificate and a prize of my choosing.

          For mid-competition updates, follow
          [FUN_DMC on Twitter](https://twitter.com/fun_dmc).

          This site is [bit.ly/fun_dmc](http://bit.ly/fun_dmc). Tell your
          friends!

          If you just want the HAML/Markdown version of this site, view the
          [source on GitHub](https://github.com/bkerley/design-miami-challenge-apr-2011).

          ## Some Facts, Tips, and Guidelines

          * You don't have to keep my HTML; please alter it as you wish. Break
            it down, smash it to pieces, build it how you wish.
          * You don't have to use or not use any particular tools. Use what
            you like best.
          * People look at restuarant websites on both computers and phones.
          * Links to mapping/navigation services are nice to have.
          * This would be a good project to have in your portfolio.
          * Maybe you'll learn something too!

      .restaurant-info
        :markdown
          # Restaurant Information

          "The Grand Canadian Cafe" is a new fictional bistro in Coconut
          Grove featuring a selection of Canadian/American fusion cuisine
          celebrating the culture, heritage, and spirit of America's Neighbor
          to the North.

          The restaurant is located at 2975 Oak Ave, Miami Florida, 33133
          (this is actually Fire Station #8), is open for breakfast, lunch, and
          dinner; and has a bar open until midnight.

          While many people think of
          the big eastern metropolis of Toronto when they think "Canada,"
          also think of Calgary, home of the largest rodeo in the world;
          Banff, a resort town in the Rocky Mountains; and Vancouver, Canada's
          gateway to Asia.  You might also think about Saskatchewan, which grows
          much of Canada's food; and the Northwest Territories, home of the
          TV series "Ice Road Truckers."

          # Menu

          Have menu questions? Tweet them to
          [FUN_DMC on Twitter](https://twitter.com/fun_dmc) so I can make
          decisions and update everyone on them.

          ## Breakfast

          * The Vancouver: a whole-Saskatchwean-wheat bagel with Canadian cream
            cheese, fresh chives, and smoked Salmon from British Columbia. $4
          * The Calgary: a whole-Saskatchewan-wheat bagel with beef sausage,
            bacon, and eggs. $5
          * The Saskatoon: Belgian waffles with Saskatoon berry syrup. $5
          * Montreal Eggs Benedict: the classic, with Manitoban ham and
            garden-fresh chives. $5
          * The Lumberjack: Two pancakes with hearty Canadian maple syrup. $4
          * Paul Bunyan: Five pancakes with hearty Canadian maple syrup. $6

          ## Sandwiches
          All sandwiches are available on white, whole-wheat, or rye bread from
          Saskatchewan wheat. Sandwiches come with French fries, mashed potatoes, 
          fresh vegetables, or steamed vegetables; this can be upgraded to a
          poutine for $1.00.

          * Quebecois Grilled Cheese: with optional horseradish. $4
          * Albertan Beef Burger: a quarter-pound all-beef patty with our special
            seasoning grilled just the way you like it. $5
          * Albertan Cheeseburger: featuring aged Canadian cheddar cheese. $6
          * Wanuskewin Buffalo Burger: a delicious and meaningful burger with
            Alberta-farmed buffalo. $6
          * Wanuskewin Buffalo Bacon Cheeseburger: with Canadian cheddar cheese and
            Manitoban bacon. $8
          * The Gimli Sliders: four miniature cheeseburgers that won't leave you
            craving more. $6
          * Red Deer BLT: made with Saskatchewan lettuce, greenhouse tomatoes, and
            Manitoba bacon. $6
          * Torontonian Club: sliced hard-boiled egg, Manitoba ham and bacon,
            lettuce, and brown mustard. $6

          ## Entrees
          * Stampeder Steak: a 12 ounce top sirloin grilled over our very own
          "Calgary Flames," with an Alberta bean salad and bleu cheese mashed
          potatoes. $10
          * Argonaut Filet: an 8 ounce filet mignon wrapped with bacon,
          grilled to your standard, with potato wedges and asparagus. $12
          * Grey Cup Ribeye: go the extra ten yards with this 16 ounce steak,
          served with asparagus and stuffed portobello mushrooms. $12
          * Cookwagon Chicken: a grilled quarter chicken with steam-kissed green
          beans, carrots, and cauliflower. $10
          * Grandpa's Dry Ribs: made with a secret family recipe, these ribs are
          perfectly smoked and come with a green salad and potato wedges. $12
          * Salmon Victoria: oven-cooked salmon with a hint of maple and cinnamon,
          garnished with lemon zest, and served with bleu cheese mashed potatoes and
          asparagus. $12
          * The Ambassador of Poutines: a large poutine of French fries heaped with
          ham, cheese curds, and gravy; with a green salad on the side. $8
          * Saskatchewan Smokies: a plate of fine sausage from Saskatchewan, with
          steamed garden vegetables and garlic toast. $10

          ## Dessert $5
          * Nanaimo Bar: a sandwich of crumbly crust, vanilla frosting, and
          chocolate.
          * Humboldt Bake: a delicious concotion of oatmeal and chocolate
          * Quebecois Compote: fresh Canadian fruits with delicious cinnamon-maple
            syrup
          * Carrot Cake: made with garden fresh carrots.

          ## Beer
          Consult staff about our rotating bottles and taps.

          ### Canadian
          * Kokanee
          * Great Western
          * Old Style Pilsner
          * Unibroue La Fin du Monde
          * Unibroue Terrible

          ### American
          * Abita Turbodog
          * Arrogant Bastard Ale
          * Dogfish Head 90 Minute IPA
          * Magic Hat #9
          * Southern Tier 422 Pale Wheat Ale

          ### European
          * BrewDog Punk IPA
          * Hacker-Pschorr
          * Hoegaarden

          ### Macrobrew
          * Budweiser
          * Bud Lite
          * Coors Lite
          * Heineken
          * Pabst Blue Ribbon

          ## Wine
          Consult staff about our selection of fine wines from around the world.

          # Photos

          Pick some Creative Commons licensed photos from [flickr](http://flickr.com),
          since that's just what I was going to do.

      .closing
        %h1 Good Luck!
        %p We hope to see you presenting at the May meetup!

        .legal
          :markdown
            This site uses valid HTML, CSS, and even has a print stylesheet.
            It uses the [Charleston static site toolkit](https://github.com/bkerley/charleston/).

          :preserve
            <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
              &copy; Copyright 2011 by Bryce Kerley, but licensed as
              <a rel="license"
                 href="http://creativecommons.org/publicdomain/zero/1.0/">
                Creative Commons Zero.</a>
              To the extent possible under law,
              <span rel="dct:publisher">
                <span property="dct:title">Bryce Kerley</span></span>
              has waived all copyright and related or neighboring rights to
              <a href="http://bkerley.github.com/design-miami-challenge-apr-2011/" id="license_title" property="dct:title">Design Miami Challenge April 2011</a>.
            This work is published from the
            <span property="vcard:Country" datatype="dct:ISO3166"
                  content="US" about="http://bkerley.github.com/design-miami-challenge-apr-2011/">United States</span>.
            </p>
          :javascript
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-605807-17']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();